.pantalla {
  background-color: #706f6f;
  color: white;
  font-size: 3.5rem;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 60px;
  width: 100%;
  max-width: 430px;
  margin: 0 auto 20px auto;
}
