.background {
    -fx-background-color: #f9f9f9;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ff8100; /* Naranja */
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #e0e0e0;
    -fx-table-header-border-color: #ff8100;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #ff8100; /* Fondo naranja para el encabezado */
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #ff8100; /* Fondo naranja */
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #ffb84d; /* Fondo naranja claro cuando se selecciona una fila */
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #ff8100 transparent #ff8100;
    -fx-background-color: transparent, derive(#ff8100,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#ff8100,20%);
}

.context-menu {
    -fx-background-color: derive(#ff8100,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ff8100;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #ff8100;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ff8100;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #ffa64d; /* Naranja claro */
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #ffffff;
    -fx-text-fill: #ff8100;
}

.button:focused {
    -fx-border-color: #ff8100, #ff8100;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #ff8100;
    -fx-text-fill: #ffffff;
}

.button:default {
    -fx-background-color: #ff8100;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(#ff8100,30%);
}

.reservas-list .list-cell {
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-text-fill: #4d4d4d;
}

.reservas-list .list-cell:odd {
    -fx-background-color: #ff8100; /* Naranja */
    -fx-text-fill: white;
}

.page {
    -fx-background-color: #1d1d1d;
}

/* Estilos para los labels */
.label-form {
    -fx-text-fill: #000000;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* Estilos para los text fields */
.text-field-form {
    -fx-background-color: #fbbf51;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #ff8100;
    -fx-border-width: 1;
}

/* Estilos para los botones */
.button-form {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #ff8100;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #fbbf51;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-form:hover {
    -fx-background-color: #fbbf51; /* Naranja claro */
}

.button-form:pressed {
    -fx-background-color: #ffffff;
    -fx-text-fill: #ff8100;
}

.button-form:focused {
    -fx-border-color: #ff8100, #ff8100;
    -fx-border-width: 1, 1;
}

.label-header-dialog {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-background-color: #FFF5E6; /* Naranja claro */
}

.table-row-cell:even {
    -fx-background-color: white;
}