.background {
    -fx-background-color: #ecf0f1; /* Gris claro */
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50; /* Azul oscuro */
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ecf0f1; /* Gris claro */
    -fx-background-color: #ecf0f1;
    -fx-table-cell-border-color: #34495e; /* Azul grisáceo */
    -fx-table-header-border-color: #34495e;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #2c3e50; /* Azul oscuro */
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #34495e; /* Azul grisáceo */
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #34495e; /* Azul grisáceo */
    -fx-text-fill: #ffffff;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #34495e transparent #34495e;
    -fx-background-color: transparent, derive(#34495e, 20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#34495e, 20%);
}

.context-menu { /*NO SE PORQUE PERO CONTROLA EL FONDO DE LOS MENU-ITEM*/
    -fx-background-color: #2c3e50;  
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #ffffff;
    -fx-text-fill: #2c3e50; /* Azul oscuro */
    -fx-border-color: #34495e; /* Azul grisáceo */
}

.button-form {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #34495e;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #34495e;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.page {
    -fx-background-color: #ecf0f1; /* Gris claro */
}

.label-form {
    -fx-text-fill: #2c3e50; /* Azul oscuro */
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.text-field-form {
    -fx-background-color: #34495e; /* Azul grisáceo */
    -fx-text-fill: #2c3e50; /* Azul oscuro */
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #2c3e50;
    -fx-border-width: 1;
}

.list-cell:odd {
    -fx-background-color: #ecf0f1; /* Gris claro */
}

.list-cell:even {
    -fx-background-color: #ffffff;
}

.list-cell:selected {
    -fx-background-color: #34495e; /* Azul grisáceo */
    -fx-text-fill: #ecf0f1; /* Gris claro */
}

.banner {
    -fx-font-size: 30px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}

.card {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-border-radius: 4;
    -fx-border-color: #34495e;
}

.banner-fondo {
    -fx-background-color: #2c3e50;
}

.label-header-dialog {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: #2c3e50;
}

.label-header {
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;
}

/*HASTA AQUI DE MOSCATELL*/

.menu-button {
    -fx-background-color: #2c3e50; /* Fondo blanco */
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 10px; /* Bordes redondeados */
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2); /* Sombra suave */
    -fx-border-color: #ecf0f1; /* Gris claro como borde */
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #ecf0f1; /* Gris claro al pasar el ratón */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0, 3, 3); /* Sombra más pronunciada */
}

.menu-button:pressed {
    -fx-background-color: #dcdde1; /* Gris más oscuro al pulsar */
    -fx-text-fill: #34495e; /* Texto más oscuro */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 2, 2); /* Sombra menos pronunciada */
    -fx-border-color: #bdc3c7; /* Gris medio como borde */
}

.menu-button .text {
    -fx-fill: #ffffff; /* Azul oscuro */
}

.menu-button:hover .text { /* NO SE PORQUE PERO CONTROLA LA LETRA DE LOS MENU-ITEM*/
    -fx-fill: #ffffff;
}

.menu-item {
    -fx-background-color: #2c3e50; /* Fondo transparente */
    -fx-font-size: 14px;
    -fx-padding: 5px 10px; /* Espaciado dentro del elemento */
}

.menu-item:hover {
    -fx-background-color: #ecf0f1; /* Fondo gris claro al pasar el ratón */
}

.menu-item:focused {
    -fx-background-color: #bdc3c7; /* Fondo gris más oscuro al estar enfocado */
}

.menu-item:pressed {
    -fx-background-color: #dcdde1; /* Fondo gris más oscuro al pulsar */
}

.menu-item .text{
    -fx-fill: #ffffff;
}



