
.boton{
    -fx-background-color: black;
    -fx-text-background-color: white;
    -fx-text-fill: white;
}

.raiz{
    -fx-background-color: red;
}

.contenedor{
    -fx-background-color: red;
}

.numero{
    -fx-text-background-color: blue;
}
