.container-counter {
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". counter ."
    ". buttons .";
}

.counter {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: counter;
  justify-self: center;
  font-size: 56px;
}

.buttons {
  grid-area: buttons;
  justify-self: center;
}

.incButton {
  background-color: red;
}
